.math-grid {
  background-image: 
    repeating-linear-gradient(0deg, #fcfcfc62 0px, #fcfcfc62 1px, transparent 1px, transparent 50px),
    repeating-linear-gradient(90deg, #fcfcfc62 0px, #fcfcfc62 1px, transparent 1px, transparent 50px);
}

.feature-card {
   position: relative;
   overflow: hidden;
 }
 
 .feature-diagonal {
   background: linear-gradient(135deg, #f0f4ff, #ffffff);
   height: 80px;
   width: 120%;
   transform: rotate(-3deg);
   transform-origin: top left;
   position: absolute;
   top: 0;
   left: -10%;
   z-index: 1;
 }
 
      